# Convert CSV file to html using Pandas

---

This is for web design challenge 11

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import time
import datetime
from scipy.stats import linregress

In [2]:
# Read saved data
city_data_df = pd.read_csv("resources/my_cities.csv", index_col="City_ID")

# Display sample data
city_data_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
City_ID,,,,,,,,,
0,kruisfontein,-34.0033,24.7314,12.71,90,23,1.79,ZA,1667264247
1,barrow,71.2906,-156.7887,-21.99,84,0,5.14,US,1667263729
2,kodiak,57.7900,-152.4072,0.44,46,2,13.69,US,1667264248
3,faya,18.3851,42.4509,13.06,61,5,1.10,SA,1667264248
4,ushuaia,-54.8000,-68.3000,4.81,87,75,9.77,AR,1667263732

In [4]:
# add a columnn with a human readable data

# Rename the current data to Unix_Date_Code
df=city_data_df
df=df.rename(columns={'Date':'Unix_Date_Code'})

# Add a new colume with a human readable date code.
df['Date'] = df['Unix_Date_Code'].apply(lambda d: datetime.datetime.fromtimestamp(int(d)).strftime('%Y-%m-%d'))

# reorder the columns
df2=df.iloc[:,[7, 0, 9, 8, 1, 2, 3, 4, 5, 6 ]]

df3 = df2.copy()
df3.head()

,Country,City,Date,Unix_Date_Code,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
City_ID,,,,,,,,,,
0,ZA,kruisfontein,2022-10-31,1667264247,-34.0033,24.7314,12.71,90,23,1.79
1,US,barrow,2022-10-31,1667263729,71.2906,-156.7887,-21.99,84,0,5.14
2,US,kodiak,2022-10-31,1667264248,57.7900,-152.4072,0.44,46,2,13.69
3,SA,faya,2022-10-31,1667264248,18.3851,42.4509,13.06,61,5,1.10
4,AR,ushuaia,2022-10-31,1667263732,-54.8000,-68.3000,4.81,87,75,9.77

In [5]:
file_one = os.path.join('.','Resources', 'My_City_data.html')
df3.to_html(file_one, classes='table table-stripped')